:root {
    --accent-color: rgb(98, 184, 255);
}

body {
    background: url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png),
              rgb(34, 34, 34);
    color: white;
    font-family: 'Amatic SC', 'Arial', sans-serif;
}

header {
    text-align: center;
    padding: 2rem;
}

h1 {
    font-size: 3rem;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players-display {
    width: 90%;
    display: inherit;
    font-size: 2.3rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.player {
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.turn {
    border-bottom: 2px solid currentColor;
    border-radius: 0px 0px 950px 70px/0px 0px 60px 40px;
    color: var(--accent-color);
}

#gameboard {
    display: grid;
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    max-height: 500px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid white;
    border-radius: 295px 7px 290px 7px/7px 290px 7px 295px;
    color: white;
    margin-bottom: 1.5rem;
    position: relative;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: 'Architects Daughter', 'Arial', sans-serif;
}

.win {
    background-color: rgba(255, 255, 255, 0.07);
}

.top, .center {
    border-bottom: 1px solid white;
}

.left, .middle {
    border-right: 1px solid white;
}

.settings {
    margin: 0 0.4rem;
}

.display-message {
    font-size: 3.6rem;
    position: absolute;
    width: 200px;
    top: 30%;
    left: 50%;
    margin-left: -100px;
    text-align: center;
}

.settings-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png),
              rgb(34, 34, 34);
    z-index: 2;
}

.hidden {
    display: none;
}

form {
    text-align: center;
    padding: 2.5rem;
}

.mode {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.mode::before, .mode::after {
    content: " - ";
}

label {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 0.1rem;
}

input[type="radio"]:checked + label {
    color: var(--accent-color);
    border-bottom: 2px solid currentColor;
    border-radius: 0px 0px 1300px 100px/390px 0px 40px 30px;
}

input[type=radio] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.mode-settings {
    margin-top: 1.5rem;
}

.mode-settings label {
    padding: 0;
    border: none;
    margin-right: 0.5rem;
    min-width: 70px;
}

.ai-mode label {
    margin: 0.5rem 0 0 0;
    position: relative;
}

.ai-mode label input {
    margin: 0;
}

.ai-mode input[type="radio"]:checked + label {
    border: none;
}

.ai-mode input[type="radio"]:checked + label .fa-robot {
    display: none;
}

.fa-robot {
    position: absolute;
    color: rgb(34, 34, 34);
    top: 50%;
    margin-top: -0.8rem;
    right: 0.5rem;
    font-size: 1.6rem;
    cursor: default;
    pointer-events: none;
}

input[type="text"] {
    border: none;
    font-size: 1.8rem;
    font-family: 'Amatic SC', 'Arial', sans-serif;
    font-weight: 700;
    padding: 0.2rem 0.6rem;
    margin-top: 0.5rem;
    border-radius: 3px;
    color: black;
}

.button-container {
    width: 60%;
    max-width: 170px;
    display: flex;
    justify-content: space-between;
    margin: 3rem auto 0;
}

.settings-btn {
    font-family: 'Amatic SC', 'Arial', sans-serif;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}


@media (min-width: 570px) {
    .players-display {
        max-width: 500px;
    }
}

@media (min-width: 950px) {
    main {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .players-display {
        flex-direction: column;
        width: 150px;
        align-items: flex-end;
        padding: 0;
        margin-right: 20px;
    }

    #gameboard {
        flex: 2 1 auto;
    }

    .settings-container {
        width: 150px;
        margin: 0.2rem 0 0 17px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .settings {
        margin-bottom: 1rem;
    }
}